@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
   
}
.bgcontainer{
    width:100%;
    height:320px;
}
h2{
    text-align: center;
    font-weight: 500;
    font-size: 30px

}
.ipaddsearch{
    display: flex;
    justify-content: center;
    flex-direction: row;
   

}
.maindiv{
    position: absolute;
    left:10%;
    color:white;
    top:0;
}
.input{
    padding:14px;
    width:300px;
    border:2px solid black;
    font: bold;
    
}
.searchbtn{
    background-color: white;
    border:2px solid black;
    border-left: white;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
}
.searchbtn:hover{
    cursor: pointer;
}
.infocontainer{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom:2px solid black;
    border-top:2px solid black;
   
}
.btnlogo{
    width:35px;
    height:35px;
    width: fit-content;
}
.griddiv{

    display: flex;
    width:300px;
    height:110px;
    flex-direction: column;
    align-items: center;
    border-right:1px solid grey;
    padding:5px;
    padding-bottom:15px;
}
p{
    color:black;
    word-wrap: wrap;
}
.infoheading{
    color:gray;
    font-weight:500;
    font-size:15px;
}
.maininfo{
    color:black;
    font-size:26px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;

}
#map { height: 500px; }

.errtext{
    color:#B0FC38;
    font-size:15px;
    text-align: center;
    padding-top:10px;
    margin:0;
}